@import '@/styles/variables';

.news {
  padding: 100px 0;
  overflow: hidden;

  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--txt-black);
    margin-bottom: 60px;
    margin-left: 150px;

    @include media(1440) {
      margin-left: 20px;
    }
  }

  &__swiper {
    width: 100%;
    margin-left: 150px;

    @include media(1440) {
      margin-left: 20px;
    }
  }

  &__slide {
    width: auto;
    height: auto;

    &_link {
      display: block;
      height: 100%;
    }
  }


  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    width: 100%;
    margin: 0 auto;

    @include media(1200) {
      grid-template-columns: repeat(2, 515px);
      justify-content: center;
    }

    @include media(768) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    min-height: 400px; // Чтобы карточки были +- одинаковой высоты
  }

  &__link {
    display: block;
    height: 100%;
  }
}