@use "@/styles/mixins.scss" as *;

.packingDetails {
  margin: 120px auto;
  background-color: #fff;

  @include media(768) {
    padding: 20px 0;
  }
}

.category {
  margin-bottom: 120px;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 1275px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--txt-black);

    @include media(992) {
      font-size: 36px;
    }
  }

  &__desc {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--txt-black);

    @include media(992) {
      font-size: 18px;
      max-width: 730px;
    }
  }
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(992) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include media(992) {
    flex-direction: column;
    justify-content: center;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    @include media(992) {
      flex-direction: column;
    }
  }


  &__content {
    max-width: 810px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__imageWrapper {
    max-width: 810px;
    width: 100%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    color: var(--txt-black);

    @include media(992) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: var(--txt-black);
    margin-top: 13px;

    @include media(992) {
      font-size: 14px;
    }
  }

  &__specs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 67px;

    @include media(992) {
      gap: 20px;
      margin-top: 30px;
    }
  }

  &__specRow {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffae2d; // Orange line separator
    max-width: 532px;
    width: 100%;
    margin: 0;
    padding-bottom: 32px;
    gap: 32px;

    @include media(992) {
      max-width: 100%;
      padding-bottom: 16px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__paramTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--txt-black);

    @include media(992) {
      font-size: 18px;
    }
  }

  &__values {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: right;
  }

  &__valueRow {
    display: flex;
    justify-content: flex-end;
    gap: 32px;

    @include media(992) {
      gap: 16px;
    }

    & span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 24px;
      color: var(--txt-black);

      @include media(992) {
        font-size: 18px;
      }
    }
  }


  &__valueQty {
    font-weight: 600 !important;
  }
}