.about {
  max-width: 1050px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;

  @include media(1200) {
    padding: 0 20px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    color: var(--txt-black);
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: var(--txt-black);

    @include media(1200) {
      font-size: 20px;
    }

    & span {
      color: var(--yellow);
    }
  }

}