@import "@/styles/variables";
@import "@/styles/mixins";

.contacts {
  width: 100%;
  height: 770px;
  display: flex;
  // justify-content: space-between;
  position: relative;

  @include media(1200) {
    height: 476px;
    border-radius: 8px;
    overflow: hidden;
  }

  // Левая часть (Визуал)
  &__visual {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // Стили для варианта 'products' (синий фон)
    &--products {
      background: #035779;
      padding: 40px;
      gap: 68px;

      & img {
        @include media(1200) {
          max-width: 350px;
        }
      }
    }

  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  // Логотип (общий для всех, позиционируется поверх)
  &__logo {
    position: relative;
    z-index: 2;
    max-width: 525px;
    width: 100%;
    align-self: flex-start;


    // Для фото версии логотип может быть в углу
    &--overlay {
      position: absolute;
      top: 100px;
      left: 100px;

      @include media(1200) {
        top: 40px;
        left: 40px;
        max-width: 320px;
      }
    }
  }

  // Правая часть (Инфо)
  &__info {
    max-width: 672px;
    width: 100%;
    height: 100%;
    padding: 60px 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--blue);
    z-index: 2;

    @include media(1440) {
      padding: 40px 50px;
      max-width: 490px;
    }

    @include media(1200) {
      padding: 30px;
      max-width: 440px;
    }

    @include media(992) {
      max-width: 320px;
      padding: 20px;
    }

    &.photo {
      background: rgba(33, 89, 123, 0.8);
    }
  }


  &__city {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--txt-white);
    margin-bottom: 66px;

    @include media(1440) {
      font-size: 36px;
      margin-bottom: 40px;
    }

    @include media(1200) {
      font-size: 28px;
      margin-bottom: 24px;
    }
  }

  &__address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--txt-white);
    margin-bottom: 97px;

    @include media(1440) {
      font-size: 24px;
      margin-bottom: 40px;
    }

    @include media(1200) {
      font-size: 16px;
      margin-bottom: 24px;
    }
  }

  &__email {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--txt-white);
    margin-bottom: 48px;

    @include media(1440) {
      font-size: 24px;
      margin-bottom: 24px;
    }

    @include media(1200) {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }

  &__phones {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--txt-white);

    @include media(1440) {
      font-size: 24px;
    }

    @include media(1200) {
      font-size: 16px;
    }
  }

}