.productsText {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--txt-black);
  max-width: 996px;
  margin: 0 auto 120px;
}