.industries {
    margin-top: 120px;
}

.industries__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--txt-black);
    margin-bottom: 64px;
}

.industries__grid {
    padding: 48px 0;
    background: var(--blue);
}

.industries__card {
    position: relative;
    max-width: 470px;
    width: 100%;
    display: flex;
}

.industries__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industries__label {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #005070;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 40px;
    background: #d7b325;
    border-radius: 0 5px;
}

.industries__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.industries__imgBlock {
    display: flex;
    gap: 20px;
    padding: 48px 0;
    background: var(--blue);
    justify-content: center;
}

.industries__imgItem {
    max-width: 730px;
    height: auto;
    border-radius: 8px;

    @media (max-width: 1440px) {
        max-width: 550px;
    }

    @media (max-width: 1024px) {
        max-width: 500px;
    }

    @media (max-width: 768px) {
        max-width: 400px;
    }

    @media (max-width: 480px) {
        max-width: 300px;
    }
}