.industries {
    margin-top: 120px;
}

.industries__title {
    // font styles moved to Heading
    color: var(--txt-black);
    margin-bottom: 64px;

    @include media(1200) {
        font-size: 48px;
        margin-bottom: 40px;
    }

    @include media(768) {
        font-size: 32px;
        margin-bottom: 40px;
    }
}

.industries__grid {
    padding: 48px 0;
    background: var(--blue);
}

.industries__card {
    position: relative;
    max-width: 470px;
    width: 100%;
    display: flex;

    @include media(1440) {
        max-width: 476px;
    }
}

.industries__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industries__label {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #005070;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px 40px;
    background: #d7b325;
    border-radius: 0 5px;
}

.industries__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

    @include media(992) {
        gap: 15px;
    }
}

.industries__imgBlock {
    display: flex;
    gap: 20px;
    padding: 48px 0;
    background: var(--blue);
    justify-content: center;

    @include media(992) {
        flex-direction: column;
        align-items: center;
    }
}

.industries__imgItem {
    max-width: 730px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;

    @include media(1440) {
        max-width: 476px;
        height: 286px;
    }


}