@import '@/styles/variables';
@import '@/styles/mixins';

.heading {
  font-family: var(--second-family);
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2;

  &--white {
    color: var(--txt-white);
  }

  &--black {
    color: var(--txt-black);
  }


  // H1 Styles
  &--h1 {
    font-size: 64px;

    @include media(1440) {
      font-size: 54px;
    }

    @include media(1200) {
      font-size: 48px;

      & span {
        font-size: 48px;
      }
    }

    @include media(768) {
      font-size: 40px;
    }

    @include media(480) {
      font-size: 32px;
    }
  }

  // H2 Styles
  &--h2 {
    font-size: 48px;

    @include media(1440) {
      font-size: 42px;
    }

    @include media(768) {
      font-size: 32px;
    }


  }

  // Fallback / Base for other tags if needed later
  &--h3 {
    font-size: 36px;

    @include media(768) {
      font-size: 28px;
    }
  }

  &--h4 {
    font-size: 24px;

    @include media(768) {
      font-size: 20px;
    }
  }

  &--h5 {
    font-size: 20px;
  }

  &--h6 {
    font-size: 16px;
  }
}