@use './variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
}

input,
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}