@import './variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font-family);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html,
body {
  overflow-x: hidden;

}


::-webkit-scrollbar {
  width: 0;
}


input,
button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;

  @include media(1440) {
    max-width: 1250px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.products__text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--txt-black);
  max-width: 996px;
  margin: 0 auto 120px;
}