:root {
  --yellow: #ffae2d;
  --blue: #21597b;
  --txt-black: #0f0e0e;
  --txt-white: #fff;
  --plashka: rgba(15, 14, 14, 0.8);
  --font-family: "Open Sans";
  --second-family: "Roboto Condensed";
  --third-family: "Inter";
}