@import '@/styles/variables';

.factoryInfo {
  padding: 110px 0;
  background: var(--blue);

  &__content {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__description {
    max-width: 668px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--txt-white);

    & span {
      color: var(--yellow);
    }
  }
}