@import '@/styles/variables';

.factoryInfo {
  padding: 110px 0;
  background: var(--blue);

  &__content {
    display: flex;
    align-items: center;
    gap: 48px;
  }

  &__description {
    max-width: 668px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media(1440) {
      max-width: 600px;
      gap: 15px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--txt-white);

    & span {
      color: var(--yellow);
    }

    @include media(1440) {
      font-size: 22px;
    }
  }

  &__img {
    max-width: 904px;
    width: 100%;
    display: flex;

    @include media(1440) {
      height: 325px;
    }

    & img {
      width: 100%;

      @include media(1440) {
        height: 100%;
      }
    }
  }
}