@import '@/styles/variables';

.quality {
  margin-bottom: 120px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(1200) {
      flex-direction: column;
      gap: 32px;
      text-align: center;
    }
  }

  &__description {
    max-width: 804px;

    @include media(1440) {
      max-width: 620px;
    }
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--txt-black);

    @include media(576) {
      font-size: 26px;
    }
  }

  &__img {
    @include media(1440) {
      max-width: 620px;
    }

    & img {
      @include media(1440) {
        width: 100%;
      }
    }
  }
}