@import '@/styles/variables';


.news {
    padding: 120px 0;
    margin-left: 150px;

    @include media(1440) {
        margin-left: 20px;
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
        color: var(--txt-black);
        margin-bottom: 64px;
    }
}

.swiper {
    min-height: 540px;
}

.slide {
    height: 100%;

    &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%; // Fixed height based on design
        position: relative;
        cursor: pointer;
    }
}