@import '@/styles/variables';


.news {
    padding: 120px 0;

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
        color: var(--txt-black);
        margin-bottom: 64px;
    }
}

.swiper {
    padding-bottom: 40px;
}

.slide {


    &__link {
        position: relative;
        display: block;
        width: 100%;
        height: 420px; // Fixed height based on design
        position: relative;
        cursor: pointer;
    }

    &__card {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.6s ease;
    }

    &__content {
        max-width: 455px;
        position: absolute;
        bottom: -24px;
        left: 78px;
        width: 100%;
        padding: 13px 24px;
        background: rgba(15, 14, 14, 0.85); // Dark overlay matching design
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;
        backdrop-filter: blur(4px);
    }
}

.slide__card:hover .slide__image {
    transform: scale(1.05);
}


// .imageContainer {


//     &::after {
//         content: '';
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
//         z-index: 1;
//     }
// }


.content {}

.cardTitle {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--txt-white);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.description {
    font-family: var(--font-family);
    font-size: 13px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.more {
    color: var(--yellow);
    font-weight: 500;
    margin-left: 4px;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}

// Media queries for responsiveness
@media (max-width: 768px) {
    .section {
        padding: 40px 0;
    }

    .title {
        font-size: 32px;
    }

    .card {
        height: 350px;
    }
}