@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--txt-black);
  cursor: pointer;
  background: var(--yellow);
  border: none;

  // Use the global hover/active effect
  @include button-hover-effect;

  // Variants (optional, if you want specific colors)
  &.primary {
    background: var(--blue);
    color: var(--txt-white);
  }

  &.secondary {
    background: transparent;
    border: 2px solid var(--blue);
    color: var(--blue);
  }

  &.big {
    max-width: 550px;
    width: 100%;
    height: 70px;

    @include media(1440) {
      max-width: 450px;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    transform: none !important;
  }
}