.strip {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.strip__track {
    display: flex;
    align-items: center;
    // gap: 32px;
    width: max-content;
    animation: marquee 30s linear infinite forwards;
}

.strip__item {
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.strip__icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.strip__text {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--txt-black);
    padding-left: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}