.header {
  background: var(--blue);
  padding: 22px 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 82px;

    @include media(1440) {
      gap: 50px;
    }

    @include media(1200) {
      gap: 26px;
    }
  }
}

.logo {


  & img {
    max-width: 150px;
  }
}