.header {
  background: var(--blue);
  padding: 22px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 82px;
  }
}