@import '@/styles/variables';

.policy {

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 428px;
    margin-bottom: 64px;

    @include media(1200) {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--txt-black);

  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--txt-black);
  }

  // Vision & Mission
  &__mission {
    display: flex;
    align-items: center;
    gap: 15px;

    @include media(1200) {
      flex-direction: column;
    }

    &_img {
      max-width: 806px;
      width: 100%;

      @include media(1440) {
        max-width: 572px;
      }

      @include media(1200) {
        max-width: 800px;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_text {
      max-width: 800px;

      @include media(1440) {
        max-width: 600px;
      }

      @include media(1200) {
        max-width: 800px;
      }

      & p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: var(--txt-black);
        margin-bottom: 15px;

        @include media(1440) {
          font-size: 16px;
        }

        span {
          color: var(--yellow);
        }
      }

    }

    &_title {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 36px;
      text-transform: uppercase;
      color: var(--txt-black);
      margin-bottom: 16px;

      @include media(1440) {
        font-size: 26px;
      }
    }
  }

  // Main Areas
  &__areas {
    margin-top: 36px;

    &_title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 36px;
      color: var(--txt-black);
      margin-bottom: 24px;
    }


    &_img {
      max-width: 806px;
      width: 100%;
      position: relative;

      @include media(1440) {
        max-width: 600px;
        width: 100%;
      }

      @include media(1200) {
        max-width: 800px;
        width: 100%;
        height: 650px;
      }


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      h3 {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 96px;
        text-transform: uppercase;
        color: var(--yellow);
        position: absolute;
        top: 37px;
        left: 44px;
        display: flex;
        flex-direction: column;

        @include media(1440) {
          font-size: 72px;
        }

        & span {
          font-size: 48px;
          color: var(--txt-white);

          @include media(1440) {
            font-size: 32px;
          }
        }
      }
    }
  }

  &__activity {
    display: flex;
    gap: 15px;


    @include media(1200) {
      gap: 50px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  // Accordion
  &__accordion {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include media(1200) {
      max-width: 800px;
    }

    ul {
      list-style-type: disc;
      padding-left: 20px;
      margin: 10px 0;

      li {
        margin-bottom: 8px;
        font-family: var(--font-family);
        line-height: 1.5;

        &::marker {
          color: var(--txt-black);
        }
      }
    }
  }


  &__disclaimer {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--txt-black);
    margin: 120px auto;
    max-width: 1160px;
  }
}