.calculate {
  height: 830px;
  position: relative;
  display: flex;
  align-items: center;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    background: rgba(33, 89, 123, 0.8);
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    color: var(--txt-white);
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--txt-white);
    max-width: 812px;
  }
}