.calculate {
  height: 830px;
  position: relative;
  display: flex;
  align-items: center;

  @include media(1440) {
    height: 715px;
  }

  @include media(1200) {
    height: 512px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 50px 0;
    background: rgba(33, 89, 123, 0.8);
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @include media(1440) {
      max-width: 545px;
    }

    @include media(992) {
      max-width: 450px;
    }
  }

  &__title {
    // font styles moved to Heading
    color: var(--txt-white);

    @include media(1440) {
      // font-size handled by Heading component or override here if different from default
      font-size: 36px; // Keep this override if it differs from Heading default (Heading h2 mobile behavior might be different)
    }
  }

  &__description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 36px;
    color: var(--txt-white);
    max-width: 812px;

    @include media(1440) {
      font-size: 24px;
    }

    @include media(1200) {
      font-size: 21px;
    }
  }
}