.footer {
  background: var(--blue);
  padding: 90px 0;


  @include media(768) {
    padding: 32px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    @include media(768) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 60px;
      column-gap: 30px;
      margin-top: 20px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include media(1200) {
      max-width: 270px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  &__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--txt-white);
  }

  &__value {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--txt-white);
  }

  &__nav {
    ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 16px;

      & li {
        & a {
          font-size: 24px
        }
      }
    }
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    color: var(--txt-white);
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__icons {
    display: flex;
    gap: 32px;
  }

  &__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    border-top: 1px solid var(--yellow);
  }

  &__bottom__text {
    font-size: 16px;
    font-weight: 400;
    color: var(--txt-white);
  }
}

.footer__social .footer__label {
  max-width: 220px;
}