@import '@/styles/variables';

.card {
  position: relative;
  cursor: pointer;
  height: 100%;

  @include media(768) {
    height: 560px;
    max-width: 500px;
    margin: 0 auto;
  }

  &:hover .image {
    transform: scale(1.02);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

.content {
  max-height: 175px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 13px 24px;
  background: rgba(15, 14, 14, 0.85);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(4px);

  @include media(1200) {
    max-height: 135px;
  }

  @include media(992) {
    max-height: 135px;
  }
}

.dynamicContent {
  @include media(1440) {
    max-height: 170px;
    height: 170px;
  }

  @include media(1200) {
    max-height: 170px;
  }

  @include media(992) {
    max-height: 170px;
  }
}


.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
  color: var(--txt-white);

  @include media(992) {
    font-size: 18px;
  }
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-white);

  @include media(1440) {
    font-size: 15px;
  }

  @include media(992) {
    font-size: 13px;
  }
}

.more {
  color: var(--yellow);
  font-weight: 500;
  margin-left: 4px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}