@import '@/styles/variables';

.card {
  position: relative;
  cursor: pointer;
  height: 100%;

  &:hover .image {
    transform: scale(1.02);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease;
}

.content {
  max-height: 150px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 13px 24px;
  background: rgba(15, 14, 14, 0.85);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(4px);
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
  color: var(--txt-white);
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--txt-white);
}

.more {
  color: var(--yellow);
  font-weight: 500;
  margin-left: 4px;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}