.certificates {
    margin-bottom: 120px;

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 48px;
        text-transform: uppercase;
        color: var(--txt-black);
        margin-bottom: 64px;
    }

    &__bg {
        background: url("/img/certificates-bg.png") center center/cover no-repeat;
        padding: 164px 0;
    }

    &__card {
        padding: 50px 45px;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        flex-direction: column;

        @include media(1200) {
            padding: 20px;
        }

        &_title {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 24px;
            text-transform: uppercase;
            color: #050505;
            margin-bottom: 10px;

            @include media(1200) {
                font-size: 19px;
            }
        }

        &_preview {
            display: flex;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_download {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 36px;
            font-family: var(--font-family);
            font-size: 24px;
            text-transform: capitalize;
            color: #2070aa;
            margin-top: 10px;
        }
    }
}