.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--txt-black);
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--yellow);

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &.big {
    max-width: 550px;
    width: 100%;
    height: 70px;
  }


}