.nav {

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 95px;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: var(--txt-white);
    transition: 0.3s ease;
    display: block;
    padding-bottom: 5px;

    &:hover {
      color: var(--yellow);
    }

    &.active {
      color: var(--yellow);
    }
  }
}